.section-five {
  background: white;

  // padding-top: 2rem;
}
.banner {
  display: none;
}

.faq-container {
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.faq-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq-btn-container {
  display: none;
}
.question {
  max-width: 1200px;
  max-height: 6rem;
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  transition: max-height 0.5s ease-in-out;
  margin: auto;

  svg {
    transition: all 0.5s ease-in-out;
  }
}

.question-text {
  padding: 2rem 0;
}

.question-active {
  max-height: 1000px;

  background-color: $primary-yellow;

  svg {
    transform: rotate(180deg);
  }
}

.question-title {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  cursor: pointer;
  h2 {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.testimonial-container {
  width: 90%;
  margin: auto;
  position: relative;
}
.testimonial-title {
  text-align: center;
  margin-bottom: 2rem;
  h3 {
    line-height: 1rem;
    margin-bottom: 0;
  }
}

.testimonial-card {
  background-color: #f1f1f1;
  max-width: 500px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
  border-left: 3px solid $primary-yellow;

  img {
    width: 50%;
    height: 50%;
    margin-right: 1rem;
  }
}

.testimonial-text {
  font-size: 0.8rem;

  p {
    margin-bottom: 1rem;
  }

  h4 {
    line-height: 0.5rem;
  }
}

.testimonial-stats-container {
  width: 100%;
  height: 20vh;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-yellow;
}
.testimonial-stat:nth-child(4) {
  display: none;
}

@media (min-width: $mobile-view) {
  .banner {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // max-height: 600px;
  }
  .banner::after {
    content: "";
    position: absolute;
    background-image: url("/images/banner-yellow-bg.svg");
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .banner::before {
    content: "";
    position: absolute;
    background-image: url("/images/banner-left-img.png");
    background-repeat: no-repeat;

    object-fit: fill;
    background-position: bottom left;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .banner-text {
    color: $primary-yellow;
    z-index: 2;
    text-align: center;
    svg {
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover {
        fill: rgba(255, 255, 255, 0.247);
      }
    }

    h3 {
      color: white;
      margin-bottom: 2.5rem;
    }
    .btn-container {
      display: flex;
    }
    .btn:nth-child(2) {
      background-color: transparent;
      color: $primary-yellow;
      border: 1px solid $primary-yellow;
      margin-left: 2rem;
      &:hover {
        background-color: rgba(255, 255, 255, 0.247);
      }
    }
  }
  .banner-text::after {
    content: "";
    position: absolute;
    background-image: url("/images/banner-right-img.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0%;
    left: 0%;
    background-position: bottom right;
    z-index: -1;
  }

  .faq-btn-container {
    background-color: $primary-yellow;
    display: block;
    border-radius: 10px;
    margin-bottom: 2rem;

    ul {
      display: flex;
    }
  }
  .faqBtn:hover {
    color: $primary-yellow;
    background-color: $light;
    opacity: .7;
  }
  .btn-active {
    background-color: $light;
    color: $primary-yellow;
  }

  .testimonial-container {
    width: 100%;
    height: 60vh;
    max-height: 500px;
    background-color: $dark;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url(/images/testimonial-left-bg.svg);
      background-position: left;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
    }
  }
  .testimonial-title {
    padding-top: 4rem;
    color: white;
    height: 25%;
  }
  .testimonial-cards-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .testimonial-title {
    width: 100%;
  }
  .testimonial-card {
    max-width: 500px;
    z-index: 99;
    cursor: pointer;
    transition: 0.3s ease-out all;


    &:nth-child(1) {
      margin-right: 1rem;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  .testimonial-stats-container {
    width: 70%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    h2 {
      font-size: 2.3rem;
      line-height: 1rem;
    }
  }
  .testimonial-stat:nth-child(4) {
    display: block;
  }
}


@media (max-width: 1450px) {
.banner {
  align-items:start;
}
  .banner-text {
    margin: 1rem;
  }

}