
.section-six {
    padding-top: 3rem;
    background-color: white;
    text-align: center;
}

.blog-title {
    margin-bottom: 2rem;
    svg {
        width: 100%;
    }
}

.blog-columns-container {
    width: 90%;
    margin: auto;
}

.blog-column-article {
    margin-bottom: 2rem;

    img {
        width: 100%;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.blog-author {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;

    svg {
        margin-right: 1rem;
    }

    h3 {
        margin: 0;
    }
}
.blog-column-list {
    display: flex;
    flex-direction: column;
}
.list-article {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    text-align: start;
h3 {
    margin: 0;
}
    img {
        width: 20%;
    }
}


@media (min-width: $mobile-view) {

    .blog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        h2 {
            margin: 0;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 40%;
                height: 3px;
                background-color:#F8BF99;
                bottom: -1.5rem;
                left: 0;
            }
        }
        svg {
            width: 50%;
        }
    }

    .blog-columns-container {
        display: flex;
        gap: 2rem;
    }
    .blog-column-article {
        max-width: 30%; 
        text-align: start;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        
        &:hover {
            background-color: #f1f1f1;
        }
    }
    .list-article {
        border-radius: 10px;
        cursor: pointer;
        
        &:hover {
            background-color: #f1f1f1;
        }
    }
   
    
}